@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500&family=Inter:wght@300;400;500&display=swap');

$headings-font-family: 'Andada Pro', serif;
$font-family-base: 'Inter', sans-serif;
$enable-negative-margins: true;

$primary: #722ED1;
$danger: #F5222D;
$secondary: #F5F5FB;
$info: #fec987;
$light: white;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body{
    background-color: $secondary;
}