@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&display=swap');

$headings-font-family: 'Playfair Display', serif;
$font-family-base: 'Inter', sans-serif;
$enable-negative-margins: true;

$primary: #722ED1;
$danger: #F5222D;
$ligth: #EDEDED;
$secondary: #EDEDED;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body{
    background-color: $ligth;
}