html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

 .navbar{
     border-bottom: 1.5px solid rgb(228, 228, 228);
 }
.overflow-y {
    display: flex;
    flex-direction: row;
}